<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">

<beans>
	<bean id="connection"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName"
			value="com.mysql.cj.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost:3306/jnit" />
		<property name="username" value="root" />
		<property name="password" value="root" />
	</bean>

	<bean id="mysessionfactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource" ref="connection"></property>

		<property name="mappingResources">
			<list>
				<value>student.xml</value>
			</list>
		</property>


		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
			</props>
		</property>
	</bean>

	<bean id="template"
		class="org.springframework.orm.hibernate3.HibernateTemplate">
		<property name="sessionFactory" ref="mysessionfactory"></property>
	</bean>



	<bean id="hibernateobj" class="com.jnit.SpringSelect">
		<property name="hibernateTemplate">
			<ref bean="template" />
		</property>
	</bean>

</beans>